*.dSYM
*.so
.DS_Store
imgui.ini

**/generator/bin
**/generator/obj

# per module ignores
flecs/thirdparty
flecs/flecs_git

flextgl/thirdparty/flextGL.o

fmod/generator/obj
fmod/generator/bin
fmod/core/*gen.v
fmod/studio/*gen.v
fmod/fmodstudioapi
fmod/core/c
fmod/studio/c

imgui/thirdparty
imgui/cimgui_git

physfs/physfs_hg
physfs/thirdparty

sokol/cimgui_git
sokol/thirdparty/cimgui

yoga/yoga_git
yoga/thirdparty