*.dSYM
*.so
.DS_Store
imgui.ini

**/generator/bin
**/generator/obj

# per module ignores
libs/flecs/thirdparty
libs/flecs/flecs_git

libs/flextgl/thirdparty/flextGL.o

libs/fmod/fmodstudioapi
libs/fmod/FMOD Programmers API

libs/imgui/thirdparty
libs/imgui/cimgui_git

libs/physfs/physfs_hg
libs/physfs/thirdparty

libs/sokol/cimgui_git
libs/sokol/thirdparty/cimgui

libs/yoga/yoga_git
libs/yoga/thirdparty

