*.dSYM
*.so
.DS_Store
imgui.ini

**/generator/bin
**/generator/obj

# per module ignores
libs/flecs/thirdparty
libs/flecs/flecs_git

libs/flextgl/thirdparty/flextGL.o

libs/fmod/generator/obj
libs/fmod/generator/bin
libs/fmod/core/*gen.v
libs/fmod/studio/*gen.v
libs/fmod/fmodstudioapi
libs/fmod/core/c
libs/fmod/studio/c

libs/imgui/thirdparty
libs/imgui/cimgui_git

libs/physfs/physfs_hg
libs/physfs/thirdparty

libs/sokol/cimgui_git
libs/sokol/thirdparty/cimgui

libs/yoga/yoga_git
libs/yoga/thirdparty

